section textarea {
  min-width: 100%;
  min-height: 100px;
  border: 1px solid #78818a;
  background: transparent;
  color: #78818a;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 30px;
}

section textarea:focus {
  border: 1px solid #48adf5;
}
