.twoCols {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 15px;
  padding-top: 4px;
  cursor: pointer;
}

.label input {
  position: absolute;
  cursor: pointer;
  width: 0;
  height: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 27px;
  width: 27px;
  background-color: transparent;
  border: 1px solid #c7ced6;
}

.label:hover input ~ .checkmark {
  background-color: #ccc;
}

.label input:checked ~ .checkmark {
  background-color: #2196f3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.label input:checked ~ .checkmark:after {
  display: block;
}

.label .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid 1px white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
