.custom-radios {
  width: 100%;
  overflow: auto;
  margin-bottom: 30px;
}

.custom-radios div {
  display: inline-block;
  width: calc(25% - (34px / 3));
  float: left;
  color: #fbffff;
}

.custom-radios div:not(:last-child) {
  margin-right: 15px;
}

.custom-radios input[type="radio"] {
  display: none;
}

.custom-radios input[type="radio"] + label span {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid #c7ced6;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  text-align: center;
  line-height: 44px;
}

.custom-radios input[type="radio"]:checked + label span {
  background: #48adf5;
  transition: 0.6s;
}
