@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  min-height: 100vh;
  background: #454e57;
  color: #fbffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
}

form {
  padding: 10px 15%;
  color: #c7ced6;
  margin-bottom: 30px;
}

form input {
  width: 100%;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #78818a;
  height: 25px;
  background: transparent !important;
  color: #c7ced6;
}

.questions {
  margin-bottom: 20px;
  font-size: 90%;
}

.submitButton {
  display: inline-block;
  background: #48adf5;
  color: white;
  font-size: 100%;
  font-weight: 600;
  cursor: pointer;
  margin: 40px 0;
}

.submitButton:disabled {
  background: #f1f1f1;
  cursor: not-allowed;
  color: grey;
}

.submitButton > * {
  display: inline-block;
  padding: 10px 35px;
}

.invalid {
  border-bottom: 2px solid #ce4737;
}

.valid {
  border-bottom: 1px solid #78818a;
}

.previous {
  float: left;
}

.next {
  float: right;
}

@media (max-width: 1100px) {
  form {
    padding: 10px 10%;
  }
}

@media (max-width: 800px) {
  form {
    padding: 10px 5%;
  }
}

@media (max-width: 500px) {
  form {
    padding: 10px 20px;
  }
}
