@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style-type: none;
}

a {
  color: inherit;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background: #454e57;
  color: #fbffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

form {
  font-family: "Roboto", sans-serif;
}

section {
  padding: 10px 15%;
  color: #c7ced6;
}

section input {
  margin-bottom: 30px;
  width: 100%;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #78818a;
  height: 25px;
  background: transparent !important;
  color: #c7ced6;
}

.questions {
  margin-bottom: 20px;
  font-size: 90%;
}

.submitButton {
  display: inline-block;
  padding: 10px 35px;
  background: #48adf5;
  color: white;
  font-size: 100%;
  font-weight: 500;
  cursor: pointer;
}

/* .invalid {
  border-bottom: 2px solid red;
}

.valid {
  border-bottom: 1px solid #78818a;
} */
